  <div class="hero-text">

<h1>
SKINMARKET
</h1>

<p>
Encontrá skins de CS2 y armá tu inventario ideal.
</p>

<button class="btn-hero" 
routerLink="/productos"

>

EXPLORAR

</button>

</div>

  <div id="carouselExampleCaptions" class="carousel slide">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://steamcommunity-a.akamaihd.net/economy/image/class/730/5433436742" class="d-block w-500" alt="center">
      <div class="carousel-caption d-none d-md-block">
        <h5>DESCUBRÍ SKINS EXCLUSIVAS </h5>
        <p>Encontrá artículos destacados para mejorar tu colección.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://community.steamstatic.com/economy/image/i0CoZ81Ui0m-9KwlBY1L_18myuGuq1wfhWSaZgMttyVfPaERSR0Wqmu7LAocGIGz3UqlXOLrxM-vMGmW8VNxu5Dx60noTyL6kJ_m-B1M5vahf6lsK_WBMWaR_uh3tORWQyC0nQlpsmXcnNaoeHuTZwUiWMZzRrVZsxm9x9ThNrzj4QCPjdhNmHj73S9KujErvbhX2ACGeQ" class="d-block w-1010" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>RENOVÁ TU INVENTARIO</h5>
        <p>Explorá diseños únicos inspirados en CS2.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://community.akamai.steamstatic.com/economy/image/i0CoZ81Ui0m-9KwlBY1L_18myuGuq1wfhWSaZgMttyVfPaERSR0Wqmu7LAocGIGz3UqlXOLrxM-vMGmW8VNxu5Dx60noTyL6kJ_m-B1Z-ua6bbZrLOmsD2qv0_t0qd5kTjuxmRguqTiBpYPwJiPTcAcnCsF0FLFcsRHtwNy0Neji41aKiNhAzyqsjyxK7X5o4u8GB_UmrPDJz1aWz8iftUI" class="d-block w-1010" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>ELEVÁ TU EXPERIENCIA</h5>
        <p>Elegí skins que representen tu estilo de juego</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class="card-container">
    <div class="card" >
        <img src="https://community.steamstatic.com/economy/image/i0CoZ81Ui0m-9KwlBY1L_18myuGuq1wfhWSaZgMttyVfPaERSR0Wqmu7LAocGIGz3UqlXOLrxM-vMGmW8VNxu5Dx60noTyL8ypexwjFS4_ega6F_H_OGMWrEwL9lj_F7Rienhgk1tjyIpYPwJiPTcAAoCpsiEO5ZsUbpm9C2Zuni4VHW3o5EzSX62HxP7Sg96-hWVqYi_6TJz1aW0nxrkGs" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">M4A1-S | Printstream</h5>
          <p class="card-text">$148.999</p>
          <button routerLink="/productos" 
          class="btn btn-primary">Ver</button>
        </div>
      </div>
      
      <div class="card" >
        <img src="https://steamcommunity-a.akamaihd.net/economy/image/i0CoZ81Ui0m-9KwlBY1L_18myuGuq1wfhWSaZgMttyVfPaERSR0Wqmu7LAocGIGz3UqlXOLrxM-vMGmW8VNxu5Dx60noTyLwlcK3wiNQ0OKheqdoLPGaAFicyOl-pK8xGH_nwUt1sGrSz9ivcHKQOAcjXMYkRu5Yuxe4lYCyZOq25VSM2oMT02yg2UxBSEgA/512fx384f" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">AK-47 | Inheritance</h5>
          <p class="card-text">$127.999</p>
          <button routerLink= "/productos"
           class="btn btn-primary">Ver</button>
        </div>
      </div>
    
      <div class="card">
        <img src="https://cdn.tradeit.gg/csgo%2FDesert%20Eagle%20-%20Printstream%20(Factory%20New)_650x325.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Desert Eagle | Printstream</h5>
          <p class="card-text">$55.999</p>
          <button routerLink= "/productos" class="btn btn-primary">Ver</button>
        </div>
      </div>
    </div>
    