<div class="wrap">
  <h1>Escoge un producto</h1>

  <div class="store-wrapper">
    <div class="category_list">
      <button type="button" class="category_item" category="all">Todo</button>
      <button type="button" class="category_item" category="ordenadores">Ordenadores</button>
      <button type="button" class="category_item" category="laptops">Laptops</button>
      <button type="button" class="category_item" category="smartphones">Smartphones</button>
      <button type="button" class="category_item" category="monitores">Monitores</button>
      <button type="button" class="category_item" category="audifonos">Audífonos</button>
    </div>

    <section class="products-list">
      <div class="product-item" category="laptops">
        <img src="assets/images/laptop_hp.jpg" alt="Laptop Hp">
        <a href="#">Laptop Hp</a>
      </div>
      <div class="product-item" category="laptops">
        <img src="assets/images/laptop_toshiba.jpg" alt="Laptop Toshiba">
        <a href="#">Laptop Toshiba</a>
      </div>
      <div class="product-item" category="smartphones">
        <img src="assets/images/samsung_galaxy.jpg" alt="Samsung Galaxy">
        <a href="#">Samsung Galaxy</a>
      </div>
      <div class="product-item" category="smartphones">
        <img src="assets/images/iphone.jpg" alt="iPhone 7">
        <a href="#">iPhone 7</a>
      </div>
      <div class="product-item" category="ordenadores">
        <img src="assets/images/pc_hp.jpg" alt="PC Hp">
        <a href="#">PC Hp</a>
      </div>
      <div class="product-item" category="ordenadores">
        <img src="assets/images/pc_lenovo.jpg" alt="PC Lenovo">
        <a href="#">PC Lenovo</a>
      </div>
      <div class="product-item" category="monitores">
        <img src="assets/images/monitor_asus.jpg" alt="Monitor Asus">
        <a href="#">Monitor Asus</a>
      </div>
      <div class="product-item" category="audifonos">
        <img src="assets/images/jbl.jpg" alt="Audífonos JBL">
        <a href="#">Audífonos JBL</a>
      </div>
    </section>
  </div>
</div>
