.table {
    margin-top: 20px;
}

.img-thumbnail {
    border-radius: 5px;
    /* Bordes redondeados para las imágenes */
}

h2 {
    margin-bottom: 20px;
    /* Espacio debajo del título */
}

.btn {
    margin-top: 10px;
    /* Espacio encima de los botones */
}

.btn {
    margin-top: 10px;
    /* Espacio encima de los botones */
}
.carrito{

background:#0F1115;

min-height:100vh;

padding:60px;

}

.producto{

display:flex;

align-items:center;

justify-content:space-between;

background:#171C26;

padding:25px;

border-radius:18px;

margin-bottom:20px;

color:white;

}

.producto img{

width:150px;

height:100px;

object-fit:contain;

}

button{

background:#FF8A00;

border:none;

color:white;

padding:10px 16px;

border-radius:10px;

}

.total{

text-align:right;

color:#FF8A00;

font-size:34px;

}