<section class="contacto">

<h1>CONTACTO</h1>

<p>
¿Tenés dudas sobre una skin?
Contactanos por nuestras redes.
</p>

<div class="redes">

<a
href="https://www.instagram.com/lukitass.qzd/"
target="_blank">

<i class="bi bi-instagram"></i>

Instagram

</a>


<a
href="https://discord.com"
target="_blank">

<i class="bi bi-discord"></i>

Discord

</a>


<a
href="https://steamcommunity.com/profiles/76561199824075242/"
target="_blank">

<i class="bi bi-steam"></i>

Steam

</a>


<a
href="quezadalucas77@gmail.com?subject=Consulta%20SkinMarket">

<i class="bi bi-envelope-fill"></i>

Gmail

</a>

</div>

</section>