.catalogo{

padding:80px;

background:#0F1115;

min-height:100vh;

}

.catalogo h2{

text-align:center;

color:#FF8A00;

margin-bottom:50px;

}

.cards{

display:flex;

justify-content:center;

gap:30px;

flex-wrap:wrap;

}

.card{

width:320px;

background:#1B1F2A;

padding:20px;

border-radius:18px;

text-align:center;

transition:.3s;

}

.card:hover{

transform:translateY(-8px);

box-shadow:

0 0 25px
rgba(255,138,0,.3);

}

.card img{

height:320px;

object-fit:contain;

}

.card h4{

color:rgb(255, 123, 0);

}

.card p{

color:#FF8A00;

font-size:20px;

}

button{

background:#FF8A00;

border:none;

padding:12px 30px;

border-radius:8px;

color:rgb(0, 0, 0);

cursor:pointer;

}
h3{
font-size: 80px;
font-weight: bold;
padding: 150px;
text-align: center;
color: #FF8A00;


}