<section class="catalogo">

<h2>
CATÁLOGO DE SKINS
</h2>

<div class="cards">
<div class="card">
  <img src="https://steamcommunity-a.akamaihd.net/economy/image/i0CoZ81Ui0m-9KwlBY1L_18myuGuq1wfhWSaZgMttyVfPaERSR0Wqmu7LAocGIGz3UqlXOLrxM-vMGmW8VNxu5Dx60noTyL6kJ_m-B1Wts2sab1iLvWHMWad_vxjsvhWQiihlxEiuieAnrD1KCzPKhhyX5sjE7MLtRnuxNbjYb-x7gDWiYMTmCms2HlI7H065bsCUPF0-afUkUifZqukeTAH" alt="">
<h4>
  M9 Bayonet | Doppler (RUBY)
</h4>
<p>
  $6.550.000
</p>
<button>
  Agregar al carrito
</button>

</div>

<div class="card">
  <img src="https://community.akamai.steamstatic.com/economy/image/i0CoZ81Ui0m-9KwlBY1L_18myuGuq1wfhWSaZgMttyVfPaERSR0Wqmu7LAocGIGz3UqlXOLrxM-vMGmW8VNxu5Dx60noTyL6kJ_m-B1Z-ua6bbZrLOmsD2qv0_t0qd5kTjuxmRguqTiBpYPwJiPTcAcnCsF0FLFcsRHtwNy0Neji41aKiNhAzyqsjyxK7X5o4u8GB_UmrPDJz1aWz8iftUI" alt="">
<h4>
  Butterfly | Doppler (RUBY)
</h4>
<p>
  $10.550.000
</p>
<button>
  Agregar al carrito
</button>

</div>

<div class="card">
  <img src="https://steamcdn-a.akamaihd.net/apps/730/icons/econ/default_generated/weapon_knife_widowmaker_aa_fade_light_large.54c2c841e44a279e001873f80f987885780bb156.png" alt="">
<h4>
  Talon | Fade
</h4>
<p>
  $950.000
</p>
<button>
  Agregar al carrito
</button>

</div>

<div class="card">
  <img src="https://steamcdn-a.akamaihd.net/apps/730/icons/econ/default_generated/weapon_knife_falchion_am_emerald_marbleized_light_large.86b54169ca00cfa482715e49b558e9e74776a669.png" alt="">
<h4>
  Falchion | Gamma Doppler (EMERALD)
</h4>
<p>
  $780.000
</p>
<button>
  Agregar al carrito
</button>

</div>


<div class="card">
  <img src="https://pub-5f12f7508ff04ae5925853dee0438460.r2.dev/data/images/wiki_W2yOMPY_preview.png" alt="">
<h4>
  Karambit | Doppler (RUBY)
</h4>
<p>
  $2.780.000
</p>
<button>
  Agregar al carrito
</button>

</div>

<div class="card">

<img
src="https://steamcommunity-a.akamaihd.net/economy/image/i0CoZ81Ui0m-9KwlBY1L_18myuGuq1wfhWSaZgMttyVfPaERSR0Wqmu7LAocGIGz3UqlXOLrxM-vMGmW8VNxu5Dx60noTyLwlcK3wiNQ0OKheqdoLPGaAFicyOl-pK8xGH_nwUt1sGrSz9ivcHKQOAcjXMYkRu5Yuxe4lYCyZOq25VSM2oMT02yg2UxBSEgA/512fx384f">

<h4>
AK-47 | Inheritance
</h4>

<p>
$127.999
</p>

<button 
>

Agregar al carrito

</button>

</div>

<div class="card">
  <img src="https://community.steamstatic.com/economy/image/i0CoZ81Ui0m-9KwlBY1L_18myuGuq1wfhWSaZgMttyVfPaERSR0Wqmu7LAocGIGz3UqlXOLrxM-vMGmW8VNxu5Dx60noTyLwlcK3wiFO0POlV61-LPGdCliWzeFkse1WQyC0nQlpsDuGyt-pdnyRPA4hDcYkR-QPuhi-wdPuYbyx5AaMidkQnC_-2ilIuzErvbi4ijV5Mw" alt="">
<h4>
  AK-47 | Wild lotus
</h4>
<p>
  $1.350.000
</p>
<button>
  Agregar al carrito
</button>

</div>

<div class="card">
  <img src="https://community.steamstatic.com/economy/image/i0CoZ81Ui0m-9KwlBY1L_18myuGuq1wfhWSaZgMttyVfPaERSR0Wqmu7LAocGIGz3UqlXOLrxM-vMGmW8VNxu5Dx60noTyLwlcK3wiFO0P24bbZ9IeOAMWqfz_1itfNWTiLnwiIrujqNjsGocC6QPQNyA8FxReZYtEHrw4ezMe_nsgbWjYIXni782ipA5yxv5OkET-N7rajaE730" alt="">
<h4>
  AK-47 | B the Monster 
</h4>
<p>
  $93.000
</p>
<button>
  Agregar al carrito
</button>

</div>

<div class="card">
  <img src="https://community.steamstatic.com/economy/image/class/730/7993041352/256x128" alt="">
<h4>
  AK-47 | X-ray
</h4>
<p>
  $660.000
</p>
<button>
  Agregar al carrito
</button>

</div>

<div class="card">
  <img src="https://steamcdn-a.akamaihd.net/apps/730/icons/econ/default_generated/weapon_ak47_gs_ak47_gold_arabesque_light_large.0d1b0b2bfcafe8d214837077367e7dd42394822e.png" alt="">
<h4>
  AK-47 | Gold arabesque
</h4>
<p>
  $890.000
</p>
<button>
  Agregar al carrito
</button>

</div>




<div class="card">
  <img src="https://community.steamstatic.com/economy/image/i0CoZ81Ui0m-9KwlBY1L_18myuGuq1wfhWSaZgMttyVfPaERSR0Wqmu7LAocGIGz3UqlXOLrxM-vMGmW8VNxu5Dx60noTyLwiYbf_jdk7uW-V7NkLPSVB3WV_uJ_t-l9AX7rxhl-tmzSwomtdC6TPwQnW5UkR-YD5kK-ltCzP-Ox4FfXiNoQyyrgznQeu9L0PzQ" alt="">
<h4>
  AWP | Wildfire
</h4>
<p>
  $80.000
</p>
<button>
  Agregar al carrito
</button>

</div>

<div class="card">
  <img src="https://community.steamstatic.com/economy/image/i0CoZ81Ui0m-9KwlBY1L_18myuGuq1wfhWSaZgMttyVfPaERSR0Wqmu7LAocGIGz3UqlXOLrxM-vMGmW8VNxu5Dx60noTyLwiYbf_DVL0OK8Yap5M-SBC2ad_uJ_t-l9AX_qlk4k5GyAzo6ocC-QZgZxX8AjEbZY5xnrxtPjM7vnsgGIj9oTmXngznQeg3pfcPs" alt="">
<h4>
  AWP | Printstream
</h4>
<p>
  $180.000
</p>
<button>
  Agregar al carrito
</button>

</div>

<div class="card">
  <img src="https://skins-cdn.hltv.org/skin/dtHve7Fa-_uyen5axEDEqA.png" alt="">
<h4>
  M4A1-S | Fade
</h4>
<p>
  $550.000
</p>
<button>
  Agregar al carrito
</button>

</div>





<div class="card">

<img
src="https://community.steamstatic.com/economy/image/i0CoZ81Ui0m-9KwlBY1L_18myuGuq1wfhWSaZgMttyVfPaERSR0Wqmu7LAocGIGz3UqlXOLrxM-vMGmW8VNxu5Dx60noTyL8ypexwjFS4_ega6F_H_OGMWrEwL9lj_F7Rienhgk1tjyIpYPwJiPTcAAoCpsiEO5ZsUbpm9C2Zuni4VHW3o5EzSX62HxP7Sg96-hWVqYi_6TJz1aW0nxrkGs">

<h4>
M4A1-S | Printstream
</h4>

<p>
$248.999
</p>

<button 
>

Agregar al carrito


</button>

</div>




<div class="card">

<img
src="https://cdn.tradeit.gg/csgo%2FDesert%20Eagle%20-%20Printstream%20(Factory%20New)_650x325.webp">

<h4>
Desert Eagle | Printstream
</h4>

<p>
$55.999
</p>

<button>

Agregar al carrito


</button>



</div>

</div>



<h3>
  SKINES DESTACADAS
</h3>



</section>
<div class="cards">
  <div class="card">
<img src="https://steamcommunity-a.akamaihd.net/economy/image/i0CoZ81Ui0m-9KwlBY1L_18myuGuq1wfhWSaZgMttyVfPaERSR0Wqmu7LAocGIGz3UqlXOLrxM-vMGmW8VNxu5Dx60noTyLwlcK3wiNQu6WReLFrJvWBMWSF0vp5vd5lRi67gVNz4Tvdn4qoJC3Ba1V1WcdxTbFcsEbpxoHhNunnsVPYitlFm3392C4f8G81tEVBuxrI/512fx384f">
<h4>AK-47 | The oligarch</h4>
<p>$140.999</p>
<button>Agregar al carrito</button>
</div>

<div class="card">
<img src="https://steamcdn-a.akamaihd.net/apps/730/icons/econ/default_generated/weapon_m4a1_silencer_cu_m4a1s_cyrex_light_large.144b4053eb73b4a47f8128ebb0e808d8e28f5b9c.png">
<h4>M4A4-S | Cyrex</h4>
<p>$149.999</p>
<button>Agregar al carrito</button>
</div>

<div class="card">
<img src="https://community.steamstatic.com/economy/image/i0CoZ81Ui0m-9KwlBY1L_18myuGuq1wfhWSaZgMttyVfPaERSR0Wqmu7LAocGIGz3UqlXOLrxM-vMGmW8VNxu5Dx60noTyLkjYbf7itX6vytbbZSI-WsG3SA_v5kue99XD2hkBwqjDGMnYftb3yUPFR0XsNyRrNc5kO5ltziMenr5lONj4kXyi2riywc7y9o5LtQAqQ7uvqAkScWnv4">
<h4>USP-S | Printstream</h4>
<p>$39.999</p>
<button>Agregar al carrito</button>
</div>

<div class="card">
<img src="https://steamcommunity-a.akamaihd.net/economy/image/i0CoZ81Ui0m-9KwlBY1L_18myuGuq1wfhWSaZgMttyVfPaERSR0Wqmu7LAocGIGz3UqlXOLrxM-vMGmW8VNxu5Dx60noTyLwlcK3wiFO0POlPPNSIeOaB2qf19F6ueZhW2e2wEt-t2jcytf6dymSO1JxA5oiRecLsRa5kIfkYr-241aLgotHz3-rkGoXuUp8oX57">
<h4>AK-47 | Asiimov</h4>
<p>$89.999</p>
<button>Agregar al carrito</button>
</div>

<div class="card">
<img src="https://community.steamstatic.com/economy/image/i0CoZ81Ui0m-9KwlBY1L_18myuGuq1wfhWSaZgMttyVfPaERSR0Wqmu7LAocGIGz3UqlXOLrxM-vMGmW8VNxu5Dx60noTyLwiYbf_jdk4veqYaF7IfysCnWRxuF4j-B-Xxa_nBovp3Pdwtj9cC_GaAd0DZdwQu9fuhS4kNy0NePntVTbjYpCyyT_3CgY5i9j_a9cBkcCWUKV">
<h4>AWP | Dragon Lore</h4>
<p>$6.999.999</p>
<button>Agregar al carrito</button>
</div>

<div class="card">
<img src="https://steamcommunity-a.akamaihd.net/economy/image/class/730/2497633562">
<h4>M4A4-S | Icarius</h4>
<p>$749.999</p>
<button>Agregar al carrito</button>
</div>

<div class="card">
<img src="https://steamcommunity-a.akamaihd.net/economy/image/class/730/7993039096">
<h4>GLOCK-18 | Gamma Doppler</h4>
<p>$150.999</p>
<button>Agregar al carrito</button>
</div>

<div class="card">
<img src="https://steamcdn-a.akamaihd.net/apps/730/icons/econ/default_generated/weapon_ak47_cu_ak47_rubber_light_large.5836c38d3037a5a1f90ffdc8c9d0b94367ca8efd.png">
<h4>AK-47 | Vulcan</h4>
<p>$119.999</p>
<button>Agregar al carrito</button>
</div>

<div class="card">
<img src="https://steamcdn-a.akamaihd.net/apps/730/icons/econ/default_generated/weapon_m4a1_silencer_cu_m4a1_hyper_beast_light_large.31850937661935a062d5f6faf5a1f02fdb90b861.png">
<h4>M4A1-S | Hyper Beast</h4>
<p>$54.999</p>
<button>Agregar al carrito</button>
</div>

<div class="card">
<img src="https://skins-cdn.hltv.org/skin/nTCvrxb8jn63wVwOgUjfjk.png">
<h4>Skeleton Knife | Doppler</h4>
<p>$499.999</p>
<button>Agregar al carrito</button>
</div>

</div>
